/*
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
:root {
	--white: #fff;
	--black: #222;
	--lt-gray: #f8f8f8;
	--gray: #eaeaea;
	--dk-gray: #555;
	--aqua: #19c5d1;
	--blue: #20399d;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--white);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button svg {
	width: 1.25rem;
	height: 1.25rem;
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* a element + button element with a class of .button */
.button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	padding: 0.75rem 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1.25;
	border: 2px solid var(--black);
	background-color: var(--black);
	color: var(--white);
	transition: all 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	background-color: transparent;
	color: var(--black);
}

.button svg {
	stroke: var(--white);
	fill: var(--white);
	transition: all 300ms ease-in-out;
}

.button:focus svg,
.button:hover svg,
.button:active svg {
	stroke: var(--black);
	fill: var(--black);
}

.main {
	padding: 0 1rem;
}

/* max-width container or wrap */
.wrap {
	max-width: 73.125rem;
	margin: 0 auto;
}

/* Header */
.header {
	position: relative;
	z-index: 1;
}

.figure.background {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.figure.background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 33%;
}

.primary_logo {
	padding: 5rem 1rem;
	margin: 0;
}

.primary_logo svg {
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	fill: var(--black);
}

.header_wrap {
	padding: 1rem;
	background-color: rgba(255, 255, 255, 85%);
}

.header_wrap .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 0;
}

@media (max-width: 960px) {
	.primary_logo {
		padding: 2rem 1rem;
	}

	.header_wrap .wrap {
		flex-wrap: wrap;
		gap: 0.5rem;
	}
}

/* Navigation */
.menu_button {
	display: none;
}

.main_nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav_item a {
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--black);
	transition: text-decoration-color 300ms ease-in-out;
}

.nav_item.active a,
.nav_item a:focus,
.nav_item a:hover,
.nav_item a:active {
	text-decoration-color: var(--black);
}

@media (max-width: 960px) {
	.menu_button {
		display: block;
		padding: 0.5rem;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 300ms ease-in-out;
	}

	.menu_button svg {
		width: 2rem;
		height: 2rem;
		fill: var(--black);
		transition: fill 300ms ease-in-out;
	}

	.menu_button:focus,
	.menu_button:hover,
	.menu_button:active {
		background-color: var(--black);
	}

	.menu_button:focus svg,
	.menu_button:hover svg,
	.menu_button:active svg {
		fill: var(--white);
	}

	.menu_close {
		margin: 0.5rem 0.5rem 0.5rem auto;
	}

	.menu_active .menu_open {
		visibility: hidden;
		opacity: 0;
	}

	.navigation {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		height: 100vh;
		transform: translateX(0);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
		background-color: var(--white);
		z-index: 2;
		transition: transform 300ms ease-in-out;
	}

	.menu_active .navigation {
		visibility: visible;
		opacity: 1;
		transform: translateX(100%);
	}

	.main_nav {
		flex-direction: column;
		gap: 0;
		border-top: 1px solid var(--gray);
	}

	.nav_item {
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--gray);
	}

	.nav_item a {
		display: block;
		padding: 1rem;
	}
}

/* Search */
.search_form {
	position: relative;
	z-index: 1;
}

.search_button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

input[type="search"] {
	padding: 0.5rem 0.5rem 0.25rem;
	border: none;
	border-bottom: 2px solid var(--black);
	background-color: transparent;
}

@media (max-width: 600px) {
	.search_wrap {
		width: calc(100% - (48px + 0.5rem));
	}

	input[type="search"] {
		width: 100%;
		max-width: 100%;
	}

	.subscribe {
		width: 100%;
	}
}

/* Main */
.secondary_heading {
	line-height: 1.25;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 2.5rem;
}

@media (max-width: 600px) {
	.secondary_heading {
		margin: 0 0 1rem;
	}
}

/* Filter Options */
.filter_options {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	margin: 0 0 3rem;
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
}

.filter_buttons button {
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--black);
	transition: all 300ms ease-in-out;
}

.filter_buttons button::after {
	content: "•";
	display: inline-block;
	margin: 0 0.25rem 0 0.5rem;
	color: var(--black);
}

.filter_buttons button:last-of-type::after {
	content: "";
}

.filter_buttons button.active,
.filter_buttons button:focus,
.filter_buttons button:hover,
.filter_buttons button:active {
	color: var(--blue);
	text-decoration-color: var(--blue);
}

.show_load-more {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem 0;
	margin: 2rem auto;
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
}

@media (max-width: 960px) {
	.filter_options {
		flex-direction: column;
		gap: 1rem;
		margin: 0 0 1rem;
	}
}

@media (max-width: 600px) {
	.filter_options > .button {
		width: 100%;
		justify-content: center;
	}

	.filter_buttons {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.filter_buttons button:first-of-type {
		grid-column: span 2;
	}

	.filter_buttons button {
		padding: 0.75rem 1.5rem;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 1.25;
		border: 2px solid var(--black);
		background-color: var(--black);
		color: var(--white);
		transition: all 300ms ease-in-out;
	}

	.filter_buttons button::after {
		content: unset;
	}

	.filter_buttons button.active,
	.filter_buttons button:focus,
	.filter_buttons button:hover,
	.filter_buttons button:active {
		color: var(--black);
		text-decoration: none;
		background-color: var(--white);
	}
}

/* Product Grid */
.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.products + .button {
	margin: 2rem auto 5rem;
}

.figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1.1;
}

.product img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_img-wrap {
	position: relative;
}

.product_buttons {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.product_buttons .button {
	color: var(--black);
	background: var(--white);
	border: 2px solid var(--black);
}

.product_buttons .button svg {
	stroke: var(--black);
}

.product_buttons .button:focus,
.product_buttons .button:hover,
.product_buttons .button:active {
	color: var(--white);
	background: var(--black);
	border: 2px solid var(--white);
}

.product_buttons .button:focus svg,
.product_buttons .button:hover svg,
.product_buttons .button:active svg {
	stroke: var(--white);
}

.product_price {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.product_heading {
	line-height: 1.25;
}

@media (max-width: 960px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.products + .button {
		margin: 2rem auto;
	}

	.product_buttons {
		position: static;
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: stretch;
		gap: 0.25rem;
		margin: 0.5rem 0 0;
	}

	.product_buttons .button {
		padding: 0.333rem 1rem;
	}

	.product_buttons .button:focus,
	.product_buttons .button:hover,
	.product_buttons .button:active {
		border: 2px solid var(--black);
	}

	.product_price {
		flex-direction: column;
		align-items: flex-start;
	}

	.product_heading {
		margin: 0.5rem 0 0.25rem;
	}
}

/* Footer */
.footer {
	background-color: var(--black);
}

/* Instagram Feed */
.instagram_feed {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--white);
}

.instagram_feed .figure {
	width: calc((100% - 7rem) / 8);
	height: 100%;
	aspect-ratio: 1 / 1;
}

.instagram_feed img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.instagram_feed {
		flex-wrap: wrap;
		gap: 0.5rem;
		padding: 0.5rem;
	}

	.instagram_feed .figure {
		width: calc((100% - 1.5rem) / 4);
	}
}

@media (max-width: 400px) {
	.instagram_feed .figure {
		width: calc((100% - 0.5rem) / 2);
	}
}

/* Footer wrap */
.footer_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.footer_wrap {
	padding: 6rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--dk-gray);
}

.footer_wrap .navigation_footer {
	width: 30%;
}

.footer_logo svg {
	max-width: 300px;
	height: auto;
	margin: 0 auto;
	fill: var(--white);
}

.footer_nav .nav_item a {
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--white);
	transition: text-decoration-color 300ms ease-in-out;
}

.footer_nav .nav_item.active a,
.footer_nav .nav_item a:focus,
.footer_nav .nav_item a:hover,
.footer_nav .nav_item a:active {
	text-decoration-color: var(--white);
}

.footer_nav.social_nav a {
	display: block;
	padding: 1rem;
	background-color: transparent;
	border-radius: 5px;
	transition: background-color 300ms ease-in-out;
}

.footer_nav.social_nav a svg {
	width: 1.25rem;
	height: 1.25rem;
	stroke: var(--white);
	fill: var(--white);
	transition: all 300ms ease-in-out;
}

.footer_nav.social_nav a:focus,
.footer_nav.social_nav a:hover,
.footer_nav.social_nav a:active {
	background-color: var(--white);
}

.footer_nav.social_nav a:focus svg,
.footer_nav.social_nav a:hover svg,
.footer_nav.social_nav a:active svg {
	fill: var(--black);
	stroke: var(--black);
}

.copyright {
	width: 100%;
	padding: 3rem 0;
	margin: 0;
	color: var(--white);
	text-align: center;
}

@media (max-width: 960px) {
	.footer_wrap {
		flex-direction: column;
		padding: 1rem 0;
		gap: 1rem;
	}

	.footer_wrap .navigation_footer {
		width: 100%;
	}

	.footer_nav {
		justify-content: center;
		gap: 1rem;
	}

	.footer_nav .nav_item {
		width: auto;
		border-bottom: none;
	}
}
